<div class="comment">
	<div class="textwrap">
		
		<div class="comment-header" >
			<div class="comment-author" >
				<%= comment.name %> 
			</div>
			<div class="comment-date" >
				<%=comment.date%>
			</div>
		</div>

		<div class="comment-text">
			<%= comment.text %>
		</div>


	</div>
</div>
