<% layout('layout') -%>
<% script('/js/alerta.js') -%>

<% stylesheet('css/main.css') -%>

<% stylesheet('http://fonts.googleapis.com/css?family=Oswald:400,300') -%>
<% stylesheet('http://fonts.googleapis.com/css?family=Abel') -%>
<% stylesheet('css/post.css') -%>
<% block('header', "<div class='ititle'>BLOG</div>") -%>
<% block('footer', "<p>Alberto Valencia</p>") -%>




<% if (typeof(posts) != "undefined") {%>
	<% for(var i=0; i<posts.length;i++){ %>
	 	<% var post = posts[i] %>
		<%- partial('_post.ejs',{post : posts[i]}) %>
	<%}%>
<%}%>
	
<% if (typeof(test_value) != "undefined"){ %>
	<%= test_value %>
<% } %>